<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>

    <p>
        If you have any questions, comments, or concerns on the app, or just want to say hi! Feel free to reach out to my email
        @ethanvannest@gmail.com
    </p>

    <%- include ('../partials/footer.ejs') %>

</body>
</html>