<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
</head>
<body>
    <h1>Welcome to your easiest decision!</h1>
    <h2>Instructions</h2>
    <div id="homeList">
        <ol>
            <li>1. Create Your List of Restaraunt Options</li>
            <li>2. Add Your Personal Price Points, Type of Restaraunt, and Whatever Else You May Want To See!</li>
            <li>3. Click 'Lets Eat!'</li>
            <li>4. That's It!</li>
        </div>
        <div id="StartPageDiv">
            <a class="StartPage" href="/res">Let's Go!</a>
        </div>
    </ol>
</body>
</html>