<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
</head>
<body>
    <h1>Welcome to your easiest decision!</h1>
    <h2>Instructions</h2>
    <ol>
        <li>Create Your List of Restaraunt Options</li>
        <li>Add Your Personal Price Points, Type of Restaraunt, and Whatever Else You May Want To See!</li>
        <li>Click 'Lets Eat!'</li>
        <li>That's It!</li>
        <a href="/res">Let's Go!</a>
    </ol>
</body>
</html>