<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResHopper | Your New Decision</title>
</head>
<body>
    <h1>ResHopper</h1>
    <ul>
        <% for (let i in hopItem) { %>
            <li>
                <a href="res/<%=hopItem[i].id %>">
                    <%= hopItem[i].name %>
                </a>
                <% } %>
            </li>
    </ul>
</body>
</html>