<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head.ejs') %>
<body>
    <h1>ResHopper</h1>
    <ul>
        <% for (let i in hopItem) { %>
            <li>
                <a href="res/<%=hopItem[i].id %>">
                    <%= hopItem[i].name %>
                </a>
                <form action="/res/<%= hopItem[i].id %>?_method=delete" method="POST">
                    <input id="delete" type="submit" value="Remove">
                </form>
                <% } %>
            </li>
    </ul>
    <a href="/res/new">New</a>
</body>
</html>