<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head.ejs') %>
<body>
    <h1>ResHopper</h1>
    <ul>
        <% for (let i in hopItem) { %>
            <li>
                <a href="res/<%=hopItem[i].id %>">
                    <%= hopItem[i].name %>
                </a>
                <% } %>
            </li>
    </ul>
</body>
</html>