<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <br>
    <h1>Create A New Restaraunt</h1>
    <form action="/res" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="price">Price</label>
        <input type="text" name="price">
        <label for="hours">Hours</label>
        <input type="text" name="hours">
        <label for="rating">Rating</label>
        <input type="text" name="rating">
        <label for="type">Type</label>
        <input type="text" name="type">
        <label for="img">Image</label>
        <input type="text" name="img">
        <input id="newEdit"type="submit" value="Create New Restuarant Option!">
    </form>
    <a id="goBack" href="/res">Back</a>
</body>
</html>