/* *{
    border: 1px solid black;
} */
body {
    background-color: #15616D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFECD1;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: #FFECD1;
}
li{
    list-style: none;
}
/*Index Page */
#goEat {
    border: 3px solid black;
    font-size: 3em;
    padding: 10px 20% 10px 20%;
    background-color: #001524;
    /* animation-duration: 1s; */
    transition: .5s;
}
#goEat:hover{
    background-color: green;
    color: white;
    transition: 0.5s;
}
#goEatDiv {
    display: flex;
    justify-content: center;
}
#indexName{
font-size: 40px;
}
#choices{
    background-color: #A1683A;
    padding: 10px;
    margin: 10px 0 0 0;
}
#choicesDiv{
    display: flex;
    justify-content: center;
}
#titleDiv{
    display: flex;
    justify-content: center;
    background: url("https://static2.bigstockphoto.com/7/9/2/large1500/297327124.jpg") no-repeat 50% 50%;
    
}
#listItems{
    background-color: #001524;
}
#itemName {
    display: flex;
    justify-content: center;
    padding-right: 3%;
}
#itemOptions{
    display: flex;
    justify-content: center;
    padding-right: 3%;
}
#delete {
    background-color: #78290F;
    color: #FFECD1;
    border: 2px solid black;
    cursor: pointer;
}
/*Show Page*/
#showImg {
max-width: 30%;
max-height: 10%;
display: flex;
margin: 0 25% 0 25% ;
padding: 0;
}
#goBack{
    border: 10px;
    border-radius: 2px;
    padding: 3px;
    background-color: black;
    /* position:fixed; */
}
#hopName{
    border: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    background-color: #001524;
    display: inline-flex;
    
    /* justify-content: space-around; */
}
#hopRate {
    display: inline;
    border: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    background-color: #001524;
    display: inline-flex;
}
#hopDiv {
    margin: 0 auto;
}
hr {
    border: 2px solid black;
    color: black;
}
h1 {
    color: #FFECD1;
    background-color: rgba(0,0,0,.5);
    padding: 1%;
}
p{
    display: flex;
    justify-content: center;
}
/*New/Edit Forms*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    /* box-sizing: border-box; */
}
#newEdit{
    width: 30%;
    background-color: #001524;
    color: #FFECD1;
    padding: 14px 20px;
    margin: 8px 70%;
    border-radius: 4px;
    cursor: pointer;
    float: right;

}